# macOS system files
.DS_Store
**/.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini

# Backend mail service
node_modules/
backend-mailer/node_modules/
*.env
backend-mailer/.env

# Local Netlify folder
.netlify
